@keyframes arrow {
   from {
    transform: translateX(0px);
   } 
   50% {
    transform: translateX(-4px);
   }
   to {
    transform: translateX(0px);
   }
}

@keyframes heart {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

@keyframes sparks {
    from {
        fill: var(--sparks-color);
    }

    to {
        fill: var(--bg-color);
    }
}