:root {
    --main-font: 'Inter-Variable', Arial, sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --weight-subtitle: 700;
    --weight-body: 400;
    --bg-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(0, 0, 0, 1);
    --linear-gradient-strips: #d3d3d3;
    --linear-gradient-one: #e7e7e7;
    --linear-gradient-two: #1a1a1a;
    --button-animation: rgba(255, 255, 255, 1);
    --sparks-color: rgba(255, 0, 0, 1);
}
